<div class='search'>
  Search for a space
  <% @search_space ||= Space.new %>
  <%= form_for @search_space, :url => [:search, :spaces] do |f| %>
  
    <div id="locationfield" class='field'>
      <label for="locationfield">region</label>
      <%= select_city_for_space(f) %>
    </div>


<div class="btn-group">
                    <div class="well wellsearch">
                      <div class="input">
                        <div class="inline-inputs">
                          date
                          <input data-datepicker="datepicker" class="nomargin small" type="text" value="01/05/2011">
                          <div class="datepicker" style="top: 1px; display: none; "><div class="nav"><div class="months"><span class="prev button">←</span><span class="name"><div class="fg">January</div></span><span class="next button">→</span></div><div class="years"><span class="prev button">←</span><span class="name"><div class="fg">2011</div></span><span class="next button">→</span></div></div><div class="calendar"><div class="dow">Mon</div><div class="dow">Tue</div><div class="dow">Wed</div><div class="dow">Thu</div><div class="dow">Fri</div><div class="dow">Sat</div><div class="dow">Sun</div><div class="days"><div date="12/27/2010" class="overlap">27</div><div date="12/28/2010" class="overlap">28</div><div date="12/29/2010" class="overlap">29</div><div date="12/30/2010" class="overlap">30</div><div date="12/31/2010" class="overlap">31</div><div date="01/01/2011">1</div><div date="01/02/2011">2</div><div date="01/03/2011">3</div><div date="01/04/2011">4</div><div date="01/05/2011" class="selected">5</div><div date="01/06/2011">6</div><div date="01/07/2011">7</div><div date="01/08/2011">8</div><div date="01/09/2011">9</div><div date="01/10/2011">10</div><div date="01/11/2011">11</div><div date="01/12/2011">12</div><div date="01/13/2011">13</div><div date="01/14/2011">14</div><div date="01/15/2011">15</div><div date="01/16/2011">16</div><div date="01/17/2011">17</div><div date="01/18/2011">18</div><div date="01/19/2011">19</div><div date="01/20/2011">20</div><div date="01/21/2011">21</div><div date="01/22/2011">22</div><div date="01/23/2011">23</div><div date="01/24/2011">24</div><div date="01/25/2011">25</div><div date="01/26/2011">26</div><div date="01/27/2011">27</div><div date="01/28/2011">28</div><div date="01/29/2011">29</div><div date="01/30/2011">30</div><div date="01/31/2011">31</div><div date="02/01/2011" class="overlap">1</div><div date="02/02/2011" class="overlap">2</div><div date="02/03/2011" class="overlap">3</div><div date="02/04/2011" class="overlap">4</div><div date="02/05/2011" class="overlap">5</div><div date="02/06/2011" class="overlap">6</div></div></div></div>
                          Start time:
                          <input class="nomargin mini" type="text" value="12:00am">
                          End time:
                          <input class="nomargin mini" type="text" value="11:59pm">
                          <!--<span class="help-block">All times are shown as Pacific Standard Time (GMT -08:00).</span>-->
                        </div>
                      </div>
                    </div>
                  </div>

    
    <div class='field'>
      <%= select_capacity_of_space(f) %>
    </div>
    <%= f.submit :search %>
  <% end %>
</div>
