     
      						

      <div class="container-fluid">
      	<div class="row-fluid">
      		<div class="span12">
      			<div class="hero-unit">



      				<div class="btn-toolbar">
      					<div class="raised span8">



      						<%= render 'spaces/search' %>


      						
</div>
      								</div>
      							</div>
      						</div>
      						</div>
      								</div>
      			<%= link_to 'Space Listings', spaces_path %>